[Unit]
Description=Gunicorn for AptMS
After=network.target postgresql.service

[Service]
Type=simple
User=psharma
Group=www-data

WorkingDirectory=/home/psharma/onedrive/code/aptms
Environment="PATH=/home/psharma/envs/aptms/bin"
EnvironmentFile=/home/psharma/onedrive/code/aptms/.env

ExecStart=/home/psharma/envs/aptms/bin/gunicorn \
          wsgi:app \
          --worker-class gevent \
          --workers 4 \
          --worker-connections 1000 \
          --bind 127.0.0.1:8200 \
          --access-logfile - \
          --error-logfile - \
          --log-level info \
          --timeout 60 \
          --graceful-timeout 30 \
          --keep-alive 5 \
          --preload

Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
